@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;500&display=swap');

:root {
  --bg: #ffffff;
  --dark: #191a23;
  --lime: #b9ff66;
  --text: #000000;
}

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  min-height: 100%;
}

body {
  font-family: 'Space Grotesk', sans-serif;
}
